@import url(/assets/css/navbar.css);
@import url(/assets/css/loader.css);

.about {
    background: var(--blue-color);
    color: var(--font-hover) !important;
}

.circles_about {
    margin-top: -35%;
    width: 40%;
    margin-left: 25%;
    z-index: 16;
}

.circles_about_phone {
  display: none;
}

.self {
    margin-top: 15%;
    width: 25%;
    margin-left: 35%;
    z-index: 18;
}

.self_photo {
  display: none;
}

.about_header {
    display: grid;
    grid-template-columns: 65% auto;
}
.about_section {
    font-family:'Poppins', sans-serif;
    overflow: hidden;
} 

.aboutme {
    font-weight: 600;
    font-size: 3.5em;
    margin-top: 35%;
    margin-left: -45%;
    color: rgb(66, 133, 244);
  }
  
  .aboutme .text-wrapper {
    position: relative;
    display: inline-block;
  }
  
  .aboutme .line {
    opacity: 0;
    position: absolute;
    left: 0;
    height: 5px;
    width: 100%;
    background-color: #01A6F0;
    transform-origin: 100% 100%;
    bottom: 0;
  }
  
  .aboutme .letter {
    display: inline-block;
    line-height: 0.1em;
  }

  .about_content {
      display: grid;
      grid-template-columns: 65% auto;
  }
  .hello {
    font-size: 20px;
    font-weight: 600;
  }

  .description {
    font-size: 18px;
    font-weight: 450;
  }

  .code_sy {
    font-size: 22px;
    font-weight: bold;
    color: rgb(66, 133, 244);
  }

  .fa-arrow-circle-right {
    font-size: 22px;
    font-weight: bold;
    color: rgb(66, 133, 244);
  }

  .fa-arrow-circle-down {
    font-size: 22px;
    font-weight: bold;
    color: rgb(66, 133, 244);
  }

  .para_aboutme {
    padding-left: 8%;
    padding-top: 4%;
  }

  .tagcloud {
    font-size: 20px;
    font-weight: 550;
    margin-top: 0%;
    margin-left: -20%;
  }
  .tagcloud--item:hover {
    color: #36454F;
  }
  .description_phone {
    display: none;
  }
  .content_phone {
    display: none;
  }

.myskills_section {
    font-family:'Poppins', sans-serif;
    overflow: hidden;
    display: grid;
    grid-template-columns: 50% auto;
} 

.myskills {
  font-weight: 600;
  font-size: 3.5em;
  margin-left: 8%;
  color: rgb(52, 168, 83);
}

.myskills .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
}

.myskills .line {
  opacity: 0;
  position: absolute;
  left: 0;
  height: 100%;
  width: 3px;
  background-color: #7FBC00;
  transform-origin: 0 50%;
}

.myskills .line1 { 
  top: 0; 
  left: 0;
}

.myskills .letter {
  display: inline-block;
  line-height: 1em;
}

.para_myskills {
  margin-top: 25%;
  margin-right: 4%;
}

.description_skills {
  font-size: 18px;
  font-weight: 450;
}

.fa-cloud-upload {
  color: #7FBC00;
  font-size: 22px;
}

.myskill_links {
  color: #7FBC00;
  text-decoration: none;
}

/*Skill Bars*/
.skillbox {
  position: absolute;
  width: 50%;
  margin-left: 3%;
  margin-top: -5%;
  display: inline-block;
}

.skillbox p{
  margin-left: 3%;
  font-size: 24px;
  font-weight: 500;
}
.container-bar {
  margin-left: 7%;
  width: 80%;
  height: 10px;
  background-color: #747474;
  border-radius: 15px;
  margin-bottom: 5%;
}

#fe-bar {
  width: 0%;
  height: 10px; 
  border-radius: 15px;
  background: linear-gradient(86deg, rgba(66,133,244,1) 0%, rgba(1,166,240,1) 100%);
  animation: animateskillbar1 1s 2s cubic-bezier(1,0,0.5,1) forwards;
}

@keyframes animateskillbar11{
  0%{
    width: 0%;
  }
  100%{
    width: 85%;
  }
}
@keyframes animateskillbar1{
  0%{
    width: 0%;
  }
  100%{
    width: 0%;
  }
}


#be-bar{
  width: 0%;
  height: 10px; 
  border-radius: 15px;
  background: linear-gradient(90deg, rgba(234,67,53,1) 0%, rgba(243,79,28,1) 100%);
  animation: animateskillbar2 1s 2s cubic-bezier(1,0,0.5,1) forwards;
}
@keyframes animateskillbar22{
  0%{
    width: 0%;
  }
  100%{
    width: 40%;
  }
}
@keyframes animateskillbar2{
  0%{
    width: 0%;
  }
  100%{
    width: 0%;
  }
}


#cp-bar{
  width: 0%;
  height: 10px; 
  border-radius: 15px;
  background: linear-gradient(90deg, rgba(52,168,83,1) 0%, rgba(127,188,0,1) 100%);
  animation: animateskillbar3 1s 2s cubic-bezier(1,0,0.5,1) forwards;
  }
  @keyframes animateskillbar33{
    0%{
      width: 0%;
    }
    100%{
      width: 65%;
    }
  }
  @keyframes animateskillbar3{
    0%{
      width: 0%;
    }
    100%{
      width: 0%;
    }
  }
  

#uiux-bar{
  width: 0%; 
  height: 10px; 
  border-radius: 15px;
  background: linear-gradient(90deg, rgba(251,188,5,1) 0%, rgba(255,186,1,1) 100%);
  animation: animateskillbar4 1s 2s cubic-bezier(1,0,0.5,1) forwards;
}
@keyframes animateskillbar44{
  0%{
    width: 0%;
  }
  100%{
    width: 80%;
  }
}
@keyframes animateskillbar4{
  0%{
    width: 0%;
  }
  100%{
    width: 0%;
  }
}
.downloadcv_text {
  font-family:'Poppins', sans-serif;
  font-weight: 600;
  font-size: 24px;
  margin-left: 40%;
  margin-top: 4%;
}
  
/*Download Button*/

.buttonDownload {
	display: inline-block;
	position: relative;
  padding: 10px 25px;
	background-color: white;
  border-color: rgb(66, 133, 244);
  border-style: solid;
	color: rgb(66, 133, 244);
  
	font-family:'Poppins', sans-serif;
	text-decoration: none;
	font-size: 22px;
  font-weight: 550;
	text-align: center;
	text-indent: 20px;
  border-radius: 5px;
  margin-left: 45%;
  margin-bottom: 5%;
  transition: all 0.4s ease;
}

.buttonDownload:hover {
	background-color: rgba(1,166,240,1);
  border-color: rgba(1,166,240,1);
	color: white;
}

.buttonDownload:before, .buttonDownload:after {
	content: ' ';
	display: block;
	position: absolute;
	left: 15px;
	top: 52%;
}

/* Download box shape  */
.buttonDownload:before {
	width: 10%;
	height: 3px;
	border-style: solid;
	border-width: 0 3px 3px;
}

/* Download arrow shape */
.buttonDownload:after {
	width: 0;
	height: 0;
	margin-left: 2.5px;
	margin-top: -7px;
  
	border-style: solid;
	border-width: 10px 10px 0 10px;
	border-color: transparent;
	border-top-color: inherit;
	
	animation: downloadArrow 2s linear infinite;
	animation-play-state: paused;
}

.buttonDownload:hover:before {
	border-color: white;
}

.buttonDownload:hover:after {
	border-top-color: white;
	animation-play-state: running;
}

@keyframes downloadArrow {
	/* 0% and 0.001% keyframes used as a hackish way of having the button frozen on a nice looking frame by default */
	0% {
		margin-top: -7px;
		opacity: 1;
	}
	
	0.001% {
		margin-top: -15px;
		opacity: 0;
	}
	
	50% {
		opacity: 1;
	}
	
	100% {
		margin-top: 0;
		opacity: 0;
	}
}

@media screen and (max-width: 768px) {

  .self_photo {
    display: block;
    width: 35vw;
    margin-top: -78%;
    margin-left: 33%;
  }
  
  .self {
    display: none;
  }
  .circles_about {
    display: none;
  }

  .circles_about_phone {
    display: block;
    width: 55vw;
    margin-top: 5%;
    margin-left: 25%;
  }

  .about_header {
    display: block;
  }

  .aboutme {
    font-size: 1.7rem;
    margin-left: 23%;
    margin-top: 15%;
  }

  .aboutme .line {
    height: 4px;
  }

  .about_content {
    display: block;
  }

  .description {
    display: none;
  }
  .description_phone {
    display: block;
    font-size: 16px;
    font-weight: 450;
    text-align: left;
  }

  .para_aboutme {
    padding-left: 6%;
    padding-top: 4%;
    padding-right: 6%;
  }
  
  .content {
    display: none;
  }

  .content_phone{
    display: block;
  }

  .tagcloud {
    font-size: 18px;
    font-weight: 550;
    margin-top: -5%;
    margin-left: 0%;
  }
 
  .myskills_section {
    display: block;
  }

  .myskills {
    font-weight: 600;
    font-size: 26px;
    margin-top: 0%;
    margin-left: 35%;
  }

  .myskills .line {
    margin-left: 15%;
  }

  .container-bar {
    height: 7px;
  }

  #fe-bar {
    height: 7px;
  }

  #be-bar {
    height: 7px;
  }

  #cp-bar {
    height: 7px;
  }

  #uiux-bar {
    height: 7px;
  }

  .skillbox {
    position: absolute;
    width: 95%;
    padding-left: 2%;
    margin-top: 1%;
    display: block;
  }

  .skillbox p {
    margin-left: 3%;
    font-size: 18px;
    font-weight: 500;
  }
  .description_skills{
     display: block;
     font-size: 16px;
     font-weight: 450;
     text-align: left;
  }

   .fa-cloud-upload {
     font-size: 20px;
   }

  .para_myskills {
    padding-left: 6%;
    padding-right: 6%;
    margin-top: 80%;
  }

  .downloadcv_text {
    font-size: 20px;
    font-weight: 550;
    margin-left: 0%;
    text-align: center;
  }

  .buttonDownload {
    transform: scale(0.8, 0.8);
    margin-left: 25%;
  }
}