html,
html *,
body,
body * {
  cursor: none;
}

html, body {
  overflow-x: hidden !important;
}

.cursor-dot,
.cursor-dot-outline {
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  z-index: 99999;
}

.cursor-dot {
  width: 8px;
  height: 8px;
  background-color: rgba(44, 130, 201, 1);
  z-index: 999999;
}

.cursor-dot-outline {
  width: 40px;
  height: 40px;
  background-color: rgba(137, 196, 244, 0.15);
  z-index: 9999999;
}

@media only screen and (max-width: 991px) {

  .cursor-dot,
.cursor-dot-outline {
  display: none !important;
}
}