.footer_line {
    position: relative;
    margin: 0 auto;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    bottom: 0;
    box-shadow: 0 -3px 3px 0 rgba(51, 49, 49, 0.15);
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-heart {
    color: rgb(234, 67, 53);
}

@media only screen and (max-width: 420px) {
    .footer_line {
        font-size: 13px;
    }
}