.section2{
  display: block;
  overflow: hidden !important;
  position: relative;
  margin-top: -5%;
}

.circles {
    position: relative;
}

.self {
  height: 19vw;  
  z-index: 3;
  left: 38%;
  top: 15%;
  position: absolute;
}

.circles_phone {
  display: none;
}
.self_phone {
  display: none;
}

.bounce-in-bottom1 {
  animation: bounce-in-bottom 1.7s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}
.bounce-in-bottom2 {
  animation: bounce-in-bottom 1.3s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}
.bounce-in-bottom3 {
  animation: bounce-in-bottom 1.1s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}
.bounce-in-bottom4 {
  animation: bounce-in-bottom 1.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}
.bounce-in-bottom5 {
  animation: bounce-in-bottom 1.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

@keyframes bounce-in-bottom {
  0% {
    transform: translateY(500px);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: translateY(0);
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: translateY(65px);
    animation-timing-function: ease-in;
  }
  72% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  81% {
    transform: translateY(28px);
    animation-timing-function: ease-in;
  }
  90% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  95% {
    transform: translateY(8px);
    animation-timing-function: ease-in;
  }
  100% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
}

@media only screen and (max-width: 768px) {
  .circles {
    display: none;
  }  
  .self {
    display: none;
  }

  .self_phone{
    display: block;
    left: 38%;
    height: 30vw;
    position: absolute;
    z-index: 2;
    }
  .circles_phone {
    display: block;
    margin:0 auto;
    position: relative;
    width: 35vw;
    z-index: 1;
  }
}

@media only screen and (max-width: 480px) {

  .self_phone {
    height: 40vw;
    left: 35%;
  }

  .circles_phone {
    width: 47vw;
  }
}

@media only screen and (max-width: 360px) {

  .self_phone {
    height: 39vw;
  }

  .circles_phone {
    width: 46vw;
  }
}