:root {
    --color: #7FBC00;
    --transition-time: 0.4s;
  }
  
  * {
    box-sizing: border-box;
  }

  .blogs {
    font-family:'Poppins', sans-serif;
    font-weight: 600;
    font-size: 3.5em;
    position: relative;
    text-align: center;
    color: rgb(234, 67, 53);
    margin-top: -5%;
  }
  
  .blogs .letter {
    display: inline-block;
    line-height: 1em;
  }
  
  .blogs .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.1em;
    padding-right: 0.05em;
    padding-bottom: 0.15em;
  }
  
  .blogs .line {
    opacity: 1;
    position: absolute;
    left: 0;
    height: 4px;
    width: 100%;
    background-color: #F34F1C;
    transform-origin: 0 0;
  }
  .blogs .line1 { top: 0; }

  a {
    color: inherit;
  }
  
  .cards-wrapper {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 4.5rem;
    padding: 4rem;
    margin: 0 auto;
    width: max-content;
  }
  
  .card {
    font-family:'Poppins', sans-serif;
    --bg-filter-opacity: 0.5;
    background-image: linear-gradient(rgba(0,0,0,var(--bg-filter-opacity)),rgba(0,0,0,var(--bg-filter-opacity))), var(--bg-img);
    height: 20em;
    width: 15em;
    font-size: 1.5em;
    color: white;
    border-radius: 1em;
    padding: 1em;
    display: flex;
    align-items: flex-end;
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 2em -1em black;
    transition: all, var(--transition-time);
    position: relative;
    overflow: hidden;
    border: 10px solid #ccc;
    text-decoration: none;
  }
  
  .card:hover {
    transform: rotate(0);
  }
  
  .card h1 {
    margin: 0;
    font-size: 1.5em;
    line-height: 1.2em;
  }
  
  .card p {
    font-size: 0.75em;
    font-family:'Poppins', sans-serif;
    margin-top: 0.5em;
    line-height: 2em;
  }
  
  .card .tags {
    display: flex;
  }
  
  .card .tags .tag {
    font-size: 0.75em;
    background: rgba(255,255,255,0.5);
    border-radius: 0.3rem;
    padding: 0 0.5em;
    margin-right: 0.5em;
    line-height: 1.5em;
    transition: all, var(--transition-time);
  }
  
  .card:hover .tags .tag {
    background: var(--color);
    color: white;
  }
  
  .card:before, .card:after {
    content: '';
    transform: scale(0);
    transform-origin: top left;
    border-radius: 50%;
    position: absolute;
    left: -50%;
    top: -50%;
    z-index: -5;
    transition: all, var(--transition-time);
    transition-timing-function: ease-in-out;
  }
  
  .card:before {
    background: #ddd;
    width: 250%;
    height: 250%;
  }
  
  .card:after {
    background: white;
    width: 200%;
    height: 200%;
  }
  
  .card:hover {
    color: var(--color);
  }
  
  .card:hover:before, .card:hover:after {
    transform: scale(1);
  }
  
  .info {
    font-size: 1.2em;
    display: flex;
    padding: 1em 3em;
    height: 3em;
  }
  
  .info img {
    height: 3em;
    margin-right: 0.5em;
  }
  
  .info h1 {
    font-size: 1em;
    font-weight: normal;
  }
  
  @media only screen and (max-width: 1280px) {
    .cards-wrapper {
      grid-template-columns: 1fr 1fr;
      grid-gap: 6rem;
    }
  }

  @media only screen and (max-width: 1024px) {

    .cards-wrapper {
        grid-gap: 5rem;
      }
  }

  @media only screen and (max-width: 991px) {

    .blogs {
        font-size: 3em;
    }

    .cards-wrapper {
        grid-gap: 5rem;
      }
  }
  
  @media only screen and (max-width: 891px) {
    
    .blogs {
        font-size: 2.7em;
    }

    .cards-wrapper {
      grid-template-columns: 1fr;
    }
    .info {
      justify-content: center;
    }
  }
  
  @media only screen and (max-width: 768px) {

    .blogs{
        font-size: 2.5em;
        margin-top: -7%;
    }
  }

  @media only screen and (max-width: 576px) {
    
    .blogs{
        font-size: 2.3em;
        margin-top: -9%;
    }

    .cards-wrapper {
      padding: 4rem 2rem;
    }
    .card {
      max-width: calc(100vw - 4rem);
    }
  }
  
  @media only screen and (max-width: 480px) {
    
    .blogs{
        font-size: 2em;
        margin-top: -15%;
    }

    .info {
      display: block;
      text-align: center;
    }

    .info h1 {
      margin: 0;
    }

    .card {
        max-width: calc(100vw - 5rem);
      }
  }

  @media only screen and (max-width: 420px) {

    .blogs{
        font-size: 1.6em;
        margin-top: -15%;
    }

    .card {
        max-width: calc(100vw - 6rem);
      }
  }

  @media only screen and (max-width: 360px) {

    .blogs{
        margin-top: -18%;
    }

    .card h1 {
        font-size: 1.2em;
      }
      
      .card p {
        font-size: 0.6em;
      }
      .card .tags .tag {
        font-size: 0.6em;
      }
  }