.section4 {
  overflow: hidden !important;
}
.content4 {
    font-family:'Poppins', sans-serif;
    overflow: hidden;
    display: grid;
    grid-template-columns: 55% auto;
} 

.myskills {
  font-family:'Poppins', sans-serif;
  font-weight: 600;
  font-size: 3.5em;
  position: relative;
  left: 6%;
  color: rgb(52, 168, 83);
}

.myskills .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
}

.myskills .line {
  opacity: 1;
  position: absolute;
  left: 0;
  height: 100%;
  width: 3px;
  background-color: #7FBC00;
  transform-origin: 0 50%;
}

.myskills .line1 { 
  top: 0; 
  left: 110%;
}

.myskills .letter {
  display: inline-block;
  line-height: 1em;
}

.para_myskills {
  position: relative;
  right: 4%;
  top: 15%;
}

.description_skills {
  font-size: 18px;
  font-weight: 450;
}

.fa-cloud-upload-alt {
  color: #7FBC00;
  font-size: 21px;
}

.myskill_links {
  color: #7FBC00;
  text-decoration: none;
  cursor: pointer;
}

.skill_container {
  position: relative;
}

.skillbox {
  position: relative;
  width: 90%;
  top: -15%;
  left: 4%;
  display: inline-block;
}

.skillbox p{
  margin-left: 3%;
  font-size: 24px;
  font-weight: 500;
}
.container {
  margin-left: 7%;
  width: 80%;
  height: 10px;
  background-color: #747474;
  border-radius: 15px;
  margin-bottom: 5%;
}

#fe-bar {
  width: 0%;
  height: 10px; 
  border-radius: 15px;
  background: linear-gradient(86deg, rgba(66,133,244,1) 0%, rgba(1,166,240,1) 100%);
  animation: animateskillbar1 1s 2s cubic-bezier(1,0,0.5,1) forwards;
}

@keyframes animateskillbar11{
  0%{
    width: 0%;
  }
  100%{
    width: 85%;
  }
}
@keyframes animateskillbar1{
  0%{
    width: 0%;
  }
  100%{
    width: 0%;
  }
}


#be-bar{
  width: 0%;
  height: 10px; 
  border-radius: 15px;
  background: linear-gradient(90deg, rgba(234,67,53,1) 0%, rgba(243,79,28,1) 100%);
  animation: animateskillbar2 1s 2s cubic-bezier(1,0,0.5,1) forwards;
}
@keyframes animateskillbar22{
  0%{
    width: 0%;
  }
  100%{
    width: 40%;
  }
}
@keyframes animateskillbar2{
  0%{
    width: 0%;
  }
  100%{
    width: 0%;
  }
}


#cp-bar{
  width: 0%;
  height: 10px; 
  border-radius: 15px;
  background: linear-gradient(90deg, rgba(52,168,83,1) 0%, rgba(127,188,0,1) 100%);
  animation: animateskillbar3 1s 2s cubic-bezier(1,0,0.5,1) forwards;
  }
  @keyframes animateskillbar33{
    0%{
      width: 0%;
    }
    100%{
      width: 65%;
    }
  }
  @keyframes animateskillbar3{
    0%{
      width: 0%;
    }
    100%{
      width: 0%;
    }
  }
  

#uiux-bar{
  width: 0%; 
  height: 10px; 
  border-radius: 15px;
  background: linear-gradient(90deg, rgba(251,188,5,1) 0%, rgba(255,186,1,1) 100%);
  animation: animateskillbar4 1s 2s cubic-bezier(1,0,0.5,1) forwards;
}
@keyframes animateskillbar44{
  0%{
    width: 0%;
  }
  100%{
    width: 80%;
  }
}
@keyframes animateskillbar4{
  0%{
    width: 0%;
  }
  100%{
    width: 0%;
  }
}

@media only screen and (min-width: 1440px) {

  .skill_container {
    top: 5%;
  }

  .para_myskills {
    top: 18%;
  }
}

@media only screen and (max-width: 1280px) {

  .skill_container {
    top: 6%;
  }
  .para_myskills {
    top: 12%;
  }
}

@media only screen and (max-width: 1024px) {

  .myskills {
    margin-top: 5%;
  }
  
  .para_myskills {
    top: 4%;
  }

  .skill_container {
    top: 8%;
  }

  .skillbox p {
    font-size: 22px
  }

  .container {
    height: 8px;
  }

  #fe-bar {
    height: 8px;
  }

  #be-bar {
    height: 8px;
  }

  #cp-bar {
    height: 8px;
  }

  #uiux-bar {
    height: 8px;
  }
}

@media only screen and (max-width: 991px) {

  .myskills {
    font-size: 3em;
  }
  .skill_container {
    top: 15%;
  }

  .description_skills {
    font-size: 17px;
  }
}

@media only screen and (max-width: 891px) {

  .myskills {
    font-size: 2.7em;
  }

  .skillbox p {
    font-size: 18px;
  }

  .skill_container {
    top: 18%;
  }
}

@media only screen and (max-width: 768px) {

  .content4 {
    display: block;
  }

  .myskills {
    font-size: 2.5em;
  }
  
  .skill_container {
    left: 4%;
  }

  .description_skills {
    font-size: 17px;
    font-weight: 450;
  }

  .para_myskills {
    padding-left: 10%;
  }
}

@media only screen and (max-width: 576px) {

  .myskills {
    font-size: 2.3em;
  }
}

@media only screen and (max-width: 480px) {

  .myskills {
    font-size: 2em;
  }

  .skillbox p {
    font-size: 17px;
  }

  .fa-cloud-upload {
    font-size: 19px;
  }
}

@media only screen and (max-width: 420px) {

  .myskills {
    margin-top: 8%;
    font-size: 1.6em;
  }

  .description_skills {
    font-size: 15px;
  }
}