.section3 {
  overflow: hidden !important;
}

.content3 {
    font-family:'Poppins', sans-serif;
    display: grid;
    grid-template-columns: 55% auto;
} 

.aboutme {
    font-family:'Poppins', sans-serif;  
    font-weight: 600;
    font-size: 3.5em;
    position: relative;
    margin: auto;
    width: 100%;
    text-align: center;
    color: rgb(66, 133, 244);
  }
  
  .aboutme .text-wrapper {
    position: relative;
    display: inline-block;
  }
  
  .aboutme .line {
    opacity: 1;
    position: absolute;
    left: 0;
    height: 5px;
    width: 100%;
    background-color: #01A6F0;
    transform-origin: 100% 100%;
    bottom: 0;
  }
  
  .aboutme .letter {
    display: inline-block;
    line-height: 0.1em;
  }

  .hello {
    font-size: 20px;
    font-weight: 600;
  }

  .description {
    font-size: 18px;
    font-weight: 450;
    position: relative;
  }

  .code_sym {
    font-size: 21px;
    font-weight: 500;
    color: rgb(66, 133, 244);
  }

  .fa-arrow-circle-right {
    font-size: 22px;
    font-weight: 500;
    color: rgb(66, 133, 244);
  }

  .fa-arrow-circle-down {
    font-size: 22px;
    font-weight: 500;
    color: rgb(66, 133, 244);
  }

  .para_aboutme {
    padding-left: 8%;
    padding-top: 4%;
  }

  .content {
    position: relative;
    left: 5%;
  }
  .tagcloud {
    font-size: 20px;
    font-weight: 550;
  }
  .tagcloud--item:hover {
    color: #36454F;
  }
  .description_phone {
    display: none;
  }
  .content_phone {
    display: none;
  }

  @media only screen and (min-width: 1440px) {

    .aboutme {
      margin-top: 5%;
    }

    .content {
      left: 4%;
    }
  }

  @media only screen and (max-width: 1280px) {

    .content {
      left: 1%;
    }
  }

  @media only screen and (max-width: 1024px) {

    .content {
      display: none;
    }
    .content_phone {
      display: block;
      position: relative;
      top: 15%;
      left: 3%;
    }

    .tagcloud {
      font-size: 17px;
      font-weight: 550;
    }
  }

  @media only screen and (max-width: 991px) {

    .aboutme {
      font-size: 3em;
    }
    .description {
      font-size: 17px;
    }
    .content_phone {
      left: -5%;
    }
  }

  @media only screen and (max-width: 891px) {

    .aboutme {
      font-size: 2.7em;
    }

    .content_phone {
      left: -7%;
    }
  }

  @media only screen and (max-width: 768px) {

    .content3 {
      display: block;
    }
    .aboutme {
      font-size: 2.5em;
    }
    .description {
      display: none;
    }
    .description_phone {
      display: block;
      font-size: 17px;
      font-weight: 450;
    }
    .para_aboutme {
      padding-left: 5%;
    }

    .content_phone {
      left: 25%;
    }
  }

  @media only screen and (max-width: 576px) {

    .aboutme{
      font-size: 2.3em;
    }

    .content_phone {
      left: 13%;
    }

    .tagcloud {
      font-size: 18px;
      font-weight: 550;
    }
  }

  @media only screen and (max-width: 480px) {

    .aboutme {
      font-size: 2em;
    }

    .content_phone {
      left: 3%;
    }
    .tagcloud {
      font-size: 17px;
      font-weight: 550;
    }
  }

  @media only screen and (max-width: 420px) {

    .aboutme {
      margin-top: 8%;
      font-size: 1.6em;
    }

    .aboutme .line {
      height: 4px;
    }

    .hello {
      font-size: 16px;
    }

    .description_phone {
      font-size: 15px;
    }

    .content_phone {
      left: -3%;
    }

    .tagcloud {
      font-size: 15px;
    }

  }

  @media only screen and (max-width: 360px) {

    .content_phone {
      left: -13%;
    }
  }