@import url(/assets/css/navbar.css);
@import url(/assets/css/loader.css);

.work {
    background: var(--yellow-color);
    color: var(--font-hover) !important;
}

html,
html *,
body,
body * {
  cursor: none;
}

body, html {
  overflow-x: hidden !important;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: whitesmoke;
}

body::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, rgba(251,188,5,1) 0%, rgba(255,186,1,1) 100%);
  border-radius: 10px;
} 

.work_page {
  font-family: "Poppins", sans-serif;
}

.mywork {
  position: relative;
  font-weight: 600;
  font-size: 3.4em;
  margin-top: 5%;
  padding-left: 5%;
  color: #FFBA01;
}

.wrapper {
  position: relative;
  overflow-x: hidden !important;
  overflow-y: hidden !important;
  width: 100%;
  height: 100%;
  margin-top: -10%;
}

a, a:hover {
  text-decoration: none;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.background {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.item-bg {
  width: 30%;
  height: 45%;
  position: absolute;
  margin-top: 1%;
  background: linear-gradient(90deg, rgba(251,188,5,1) 0%, rgba(255,186,1,1) 100%);
  border-radius: 10px;
  box-shadow: 0 5px 10px 3px rgba(0, 0, 0, 0.25);
  opacity: 0;
  transition: all 0.3s;
}
.item-bg.active {
  left: -0.5%;
  top: 0;
  opacity: 1;
}

.project-slider {
  z-index: 2;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
}

.project-slider__wrp {
  display: flex;
  align-items: flex-start;
  position: relative;
  z-index: 2;
}
.project-slider__item {
  width: 400px;
  flex-shrink: 0;
}

.project-slider__item.swiper-slide {
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
}
.project-slider__item.swiper-slide-active, .project-slider__item.swiper-slide-prev, .project-slider__item.swiper-slide-next {
  opacity: 1;
  pointer-events: auto;
}
.project-slider__ctr {
  position: relative;
  z-index: 12;
}
.project-slider__arrow {
  background: #fff;
  border: none;
  display: inline-flex;
  width: 50px;
  height: 50px;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 6px 3px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  z-index: 12;
  cursor: pointer;
  outline: none !important;
}

.project-slider__arrow .icon-font {
  display: inline-flex;
}
.project-slider__arrow.project-slider-prev {
  left: 2%;
  transform: translateY(-650%);
}
.project-slider__arrow.project-slider-next {
  right: 2%;
  transform: translateY(-650%);
}
.project-slider__pagination {
  text-align: center;
  margin-top: 3%;
}
.project-slider__pagination .swiper-pagination-bullet {
  width: 13px;
  height: 10px;
  display: inline-block;
  background: #747474;
  opacity: 0.2;
  margin: 0 5px;
  border-radius: 20px;
  transition: opacity 0.5s, background-color 0.5s, width 0.5s;
  transition-delay: 0.5s, 0.5s, 0s;
}
.project-slider__pagination .swiper-pagination-bullet-active {
  opacity: 1;
  background: #747474;
  width: 100px;
  transition-delay: 0s;
}

.project__item {
  padding: 40px;
  margin-top: 18%;
  color: gray;
  border-radius: 10px;
  display: block;
  transition: all 0.3s;
}

.project__item:hover .project__title, .project__item:hover .project__txt {
  opacity: 1;
  transition-delay: 0.1s;
}
.project__item:hover .project__img {
  box-shadow: none;
}
.project__item.active {
  color: #222222;
}
.project__item.active .project__title, .project__item.active .project__txt {
  opacity: 1;
}
.project__item.active .project__img {
  box-shadow: none;
}

.project__item:hover {
  color: black;
  transition-delay: 0.1s;
}

.project__title {
  font-size: 25px;
  font-weight: 500;
  opacity: 0.7;
  margin-top: 10px;
  margin-bottom: 15px;
  transition: opacity 0.3s;
}

.project__txt {
  margin: 10px 0;
  line-height: 1.6em;
  font-size: 15px;
  opacity: 0.7;
  transition: opacity 0.3s;
}
.project__img {
  border-radius: 10px;
  box-shadow: 0 6px 26px 6px rgba(0, 0, 0, 0.25);
  height: 200px;
  margin-top: 30px;
  width: 100%;
  transition: all 0.3s;
  transform-origin: 0% 0%;
}

.project__img img {
  max-width: 100%;
  border-radius: 10px;
  height: 100%;
  width: 100%;
}

.learn_more {
  margin: auto;
  width: 100%;
  text-align: center;
}

.learn_btn {
  position:relative;
  margin-top: 3%;
}

.buttonLearn {
	display: inline-block;
  padding: 10px 25px;
	background-color: white;
  border-color: #FFBA01;
  border-style: solid;
	color: #FBBC05;
	font-family:'Poppins', sans-serif;
	text-decoration: none;
	font-size: 22px;
  font-weight: 550;
	text-align: center;
  border-radius: 5px;
  transition: all 0.4s ease;
}

.buttonLearn:hover {
	background-color: #FBBC05;
  border-color: #FFBA01;
	color: white;
}

@media only screen and (min-width: 1440px) {

  .mywork {
    margin-top: 5%;
  }

  .item-bg {
    margin-top: 0%;
  }
}

@media only screen and (max-width: 1280px) {

  .item-bg {
    margin-top: -1%;
  }

  .project-slider__arrow.project-slider-prev {
    left: 1%;
  }
  .project-slider__arrow.project-slider-next {
    right: 1%;
  }
}

@media only screen and (max-width: 1024px) {

  .mywork {
    margin-top: 7%;
  }

  .wrapper {
    margin-top: -13%;
  }

  .item-bg {
    margin-top: -2%;
  }

  .project-slider__item {
    width: 380px;
  }
}

@media only screen and (max-width: 991px) {

  .mywork {
    font-size: 3em;
    margin-top: 8%;
  }

  .item-bg.active {
    left: -0.8%;
  }
}

@media only screen and (max-width: 891px) {

  .mywork {
    font-size: 2.7em;
    margin-top: 12%;
  }
}

@media only screen and (max-width: 830px) {

  .mywork {
    margin-top: 15%;
  }

  .item-bg {
    margin-top: -10%;
  }
}

@media only screen and (max-width: 768px) {

  .mywork {
    font-size: 2.5em;
    margin-top: 10%;
    text-align: center;
    width: 90%;
  }

  .item-bg {
    margin-top: -2.5%;
  }

  .item-bg.active {
    left: -0.85%;
  }

  .project-slider__item {
    width: 370px;
  }

  .project__img {
    width: 290px;
  }
}

@media only screen and (max-width: 576px) {

  .mywork {
    font-size: 2.3em;
    margin-top: 11%;
  }

  .item-bg.active {
    left: -0.9%;
  }

  .wrapper {
    margin-top: -19%;
  }

  .project-slider__pagination {
    margin-top: 5%;
  }

  .project__img {
    height: 180px;
  }
}

@media only screen and (max-width: 480px) {

  .mywork {
    font-size: 2em;
    margin-top: 15%;
  }

  .wrapper {
    margin-top: -22%;
  }

  .project__title {
    font-size: 22px;
  }

  .item-bg {
    margin-top: -3%;
  }

  .buttonLearn {
    transform: scale(0.9, 0.9);
  }
}

@media only screen and (max-width: 420px) {

  .mywork {
    font-size: 1.6em;
    margin-top: 19%;
  }

  .wrapper {
    margin-top: -26%;
  }

  .project__img {
    margin-left: -3%;
  }

  .project-slider__item {
    width: 353px;
    margin-left: -0.5%;
  }

  .item-bg {
    margin-top: -5%;
  }

  .item-bg.active {
    left: -1.8%;
  }

  .buttonLearn {
    transform: scale(0.8, 0.8);
  }

  .project-slider__arrow.project-slider-prev {
    left: 2%;
  }
  .project-slider__arrow.project-slider-next {
    right: 2%;
  }
}

@media only screen and (max-width: 360px) {

  .project-slider__item {
    width: 300px;
  }

  .item-bg {
    margin-top: -7%;
  }

  .project__img {
    width: auto;
    height: 150px;
    margin-left: 0%;
  }
}

/*@media screen and (max-width: 768px) {

  .mywork {
    margin-top: 30%;
    margin-left: 35%;
    font-size: 1.7rem;
  }

  .project__item {
    margin-top: 35%;
    border-radius: 10px;
    display: block;
    transition: all 0.3s;
  }

  .project-slider__item {
    width: 80%;
  }

  .project-slider__arrow.project-slider-prev {
    margin-top: 80%;
    margin-left: 5%;
    transform: translateY(-650%);
  }
  .project-slider__arrow.project-slider-next {
    margin-top: 80%;
    margin-left: 83%;
    transform: translateY(-650%);
  }

  .project__img {
    height: 150px;
    margin-top: 15px;
  }

  .project-slider__pagination {
    margin-top: 5%;
  }

}*/